@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./colors.scss";

body {
  font-family: "Poppins", sans-serif;
  color: $color_black;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
}

.button {
  display: inline-block;
  background-color: $color_btn;
  padding: 7px 22px;
  border-radius: 30px;

  font-size: 18px;
  color: $color_btn_text;

  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.button:hover,
.button:focus {
  background-color: $color_btn_hover;
}

.button:active {
  position: relative;
  top: 1px;

  background-color: $color_black;
}

/* Header */
.header {
  background-color: $color_grey;
  padding-top: 46px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 76px;
}

/* Logo */
.logo {
  position: relative;

  padding: 0 12px 3px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: $color_black;
}

.logo::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: $color_orange;
  border-radius: 50%;

  position: absolute;
  right: 0;
  bottom: 0;
}

/* Navigation */
.nav-list {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
}

.nav-button {
  display: none;
  width: 33px;
  height: 20px;
  background: no-repeat center center;
  background-image: url("../img/icons/nav-open.svg");
}

.nav-button.close {
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/nav-close.svg");
}

.nav-link {
  color: $color_black;
}

.nav-link__active {
  color: $color_active;
}

/* Header Content */
.header-row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header-heading {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.header-text {
  line-height: 2;
}

/* Services */
.services {
  padding: 90px 0;
}

.services-row {
  display: flex;
  column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.service-card {
  text-align: center;
  flex: 1 1 0;
  min-width: 315px;
}

.service-card-img {
  margin-bottom: 30px;
}

.service-card-title {
  font-weight: 600px;
  margin-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.service-card-text {
  line-height: 2;
}

/* Portfolio */

.portfolio {
  background-color: $color_grey;
  padding: 90px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 40px;
}

.project-title {
  font-size: 18px;
}

.project-title a {
  color: $color_black;
  text-decoration: underline;
}

/* Footer */
.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  margin-bottom: 40px;
  font-size: 18px;
}

.contacts-button {
  margin-bottom: 80px;
}

.contacts-social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;

  margin-bottom: 40px;
}

.contacts-footer {
  color: $color_footer_text;
}
